.debug {
    background-color: red;
}

.center {
    margin: 0 auto;
}

.hidden {
    visibility: hidden; 
}

.wid-70 {
  width: 70px;
  max-width: 70px;
}

.wid-110 {
    width: 110px;
    max-width: 110px;
}

.wid-180 {
    width: 180px;
    max-width: 180px
}

body {
    width: 80%;

}

header {
    height: 70px;
    background-color: #DDDDDD;
    min-width: 850px;
}

nav {
    height: 20px;
    background-color: #DDDEEE
}

section {
    padding: 25px;
    background-color: #EFEFEF;
    min-width: 800px;
}

span {
    font-size: .9em;
}

#favoriteActivitiesTable tbody td {
  padding: 5px;
}

#trackerSection table, td, tr, thead, th {
    border: 1px solid #11D;
    border-spacing: 10px;   
    border-width: 20;
    /* border-collapse: collapse; */
}

#trackerSection td, th {
    padding: 8px;
    overflow: scroll;
}

footer {
    background-color: #DDDDDD;
    min-width: 850px;
}

h4 {
    margin: 0px;
    padding: 10px;
}


/* http://css3buttongenerator.com/ */
.btn {
    background: #488ebd;
    background-image: -webkit-linear-gradient(top, #488ebd, #6a9dbd);
    background-image: -moz-linear-gradient(top, #488ebd, #6a9dbd);
    background-image: -ms-linear-gradient(top, #488ebd, #6a9dbd);
    background-image: -o-linear-gradient(top, #488ebd, #6a9dbd);
    background-image: linear-gradient(to bottom, #488ebd, #6a9dbd);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
}

.btn:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
}